html, body, * {
  margin: 0;
  padding: 0; }

.container, .container2 {
  display: flex; }

.container2 {
  border: 5px solid royalblue;
  flex-direction: column; }
  .container2__height {
    height: 600px; }

.container {
  border: 5px solid black; }
  .container__direction {
    flex-direction: column; }
  .container__wrap {
    flex-wrap: wrap; }
  .container__justify-content {
    justify-content: space-around; }
    .container__justify-content--center {
      justify-content: center; }
  .container__align-items {
    align-items: center; }
  .container__align-content {
    align-content: center; }
  .container__height {
    height: 300px; }
  .container__wrapper {
    padding: 5rem; }

.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white; }
  .box--1 {
    background-color: #581F18; }
  .box--2 {
    background-color: #F0A202; }
  .box--3 {
    background-color: #D95D39; }
  .box--4 {
    background-color: #202C59; }
  .box--5 {
    background-color: #51CB20; }
  .box--generic {
    background-color: #202C59; }

.section__flexbox {
  background-color: rgba(0, 0, 0, 0.1); }

.section__banner {
  background-color: rgba(0, 0, 0, 0.2); }

.header {
  height: 100vh;
  background-image: url(../img/img-flexbox2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -150px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.heading-1 {
  font-size: 60px;
  color: #ffffff; }
