html, body {
  margin: 0;
  padding: 0;
}
// Just will be apply in parent component
.container {
  border: 5px solid black;
  display: flex;

  &__direction {
    // flex-direction:  row (default) / column / column-reverse / row-reverse
    //flex-direction: column;
    flex-direction: column;
  }

  &__wrap {
    // flex-wrap: no-wrap (default) / wrap / wrap-reverse
    //flex-wrap: wrap-reverse;
    flex-wrap: wrap;
  }

  &__justify-content {
    // justify-content: flex-start ( default ) / flex-end /
    // center / space-between / space-around
    justify-content: space-around;
  }

  &__align-items {
    // align-items: stretch ( default ) / flex-start / flex-end
    // center / baseline
    align-items: center;
  }

  &__height {
    height: 300px;
  }

  &__wrapper {
    padding: 5rem;
  }
}

.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;

  &--1 {
    background-color: #581F18;
  }

  &--2 {
    background-color: #F0A202;
  }

  &--3 {
    background-color: #D95D39;
  }

  &--4 {
    background-color: #202C59;
  }

  &--5 {
    background-color: #51CB20;
  }

  &--generic {
    background-color: #202C59;
  }
}
